[Unit]
Description=AlbumImageConverter
 
[Service]
Type=simple
WorkingDirectory=/home
ExecStart=/usr/bin/python -u /home/volumio/AlbumImage.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=AlbumImageConverter
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
