[Unit]
Description=AlbumImageConverter
 
[Service]
Type=simple
WorkingDirectory=/home
ExecStart=/home/volumio/src/Python-3.8.5/bin/python3.8 -u /home/volumio/AlbumImage.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=AlbumImageConverter
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target